@model Category
@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    <a class="btn btn-primary">Thêm danh mục</a>
    <form method="post">
        <div class="form-group">
            <label asp-for="Name">Tên danh mục:</label>
            <input class="form-control" asp-for="Name"/>
        </div>
        <div class="form-group">
            <label asp-for="Name">Mô tả:</label>
            <input class="form-control" asp-for="Description"/>
        </div>
        <button class="btn btn-primary" type="submit">Thêm</button>
    </form>
</div>