@model IEnumerable<Category>
@{
    Layout = "_LayoutAdmin";
}
<a class="btn btn-primary m-1 p-1 text-light">Quản lý danh mục</a>
<div class="container">
    <table class="table table-sm table-bordered table-striped">
        <tr>
            <th>Mã</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th></th>
        </tr>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Id</td>
                <td>@c.Name</td>
                <td>@c.Description</td>
                <td>
                    <form method="post" asp-action="DeleteCategory">
                        <input type="hidden" value="@c.Id" name="id">
                        <a class="btn btn-primary text-light">Sửa</a>
                        <button class="btn btn-danger" type="submit">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </table>
    <a asp-action="CreateCategory" class="btn btn-primary text-light">Thêm danh mục</a>
</div>